.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.signin__signInButton{
    width: 100px;
    margin-bottom: 10px;
    height: 30px;
}

.signin__signUpButton{
    width: 100px;
    height: 30px;
}

.signin__skip{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}